*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
.clearfix:after {
  content:"";
  display:block;
  clear:both;
}
.boxes{
	margin: 50px auto;
	width:960px;
}
.box1{
	float: left;
	position: relative;
	width:300px;
	border-style: solid;
	border-width: thin;
}
.box1:nth-child(1){
	margin-right: 30px;
}
.box1:nth-child(2){
	margin-right: 30px;
}

.img{
	width: 280px;
	margin: 10px;
}
.text{
	position: absolute;
	top:0;
	left:0;
	background-color: orange;
	color:white;
}
h3{
	padding: 10px;
}
p{
	padding: 10px;
}
@media screen and (max-width: 768px){
	.boxes{
		width: 100%;
	}
	.box1{
		margin-right: 300px;
	}
}